@model Hotel_Management_Project.Models.RoomModel

<div>
    <h4>RoomModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomPrice)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
